@use "../abstracts/mixins";
@use "../abstracts/variables";

.header-nav {
    width: 100%;
    gap: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0.85) 0%, #111111 42.62%);
    .nav-phone {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .nav-item {
            @include mixins.flex-col-center;
            color: rgba(137, 137, 137, 1);
        }
        .nav-icon {
            width: 2.4rem;
            height: 2.4rem;
            margin-bottom: 1.1rem;
        }
        .nav-title {
            font-family: Satoshi;
            font-weight: 400;
            font-size: variables.$small-text;
            line-height: 100%;
            letter-spacing: 3%;
            color: variables.$header-text;
        }
    }
}