@use "../abstracts/mixins";
@use "../abstracts/variables";

.main-section-filters {
  padding: 1.3rem 1.5rem;

  .filter-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.2rem;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    
    .filter-left {
      display: flex;
      gap: 1rem;
    }
    
    .filter-button {
      background-color: variables.$card-secondary;
      color: variables.$primary-color;
      border: none;
      padding: 0.8rem 1.5rem;
      border-radius: 0.8rem;
      font-size: variables.$small-text;
      white-space: nowrap;
      cursor: pointer;
      transition: background-color 0.2s ease;
      
      &.desktop {
        display: none;

        &:hover {
          background-color: darken(variables.$primary-color, 10%);
        }
      }

      &:hover {
        background-color: variables.$player-color;
      }

      &.other {
        border: none;
        background-color: transparent;
        padding: 0;
      }
    }

    .other-filter {
      margin-left: auto;
      cursor: pointer;
    }
  }

  .recents-list {
    @include mixins.auto-grid(17rem, 0.8rem);

    .recent-item {
      display: flex;
      align-items: center;
      padding: 1rem 1.4rem;
      background-color: variables.$card-secondary;
      border-radius: 1rem;
      overflow: hidden;
      text-decoration: none;
      transition: background-color 0.3s;

      &:hover {
        background-color: variables.$player-color;
      }

      .recent-item-img {
        width: 5.6rem;
        height: 5.6rem;
        border-radius: 0.8rem;
        object-fit: cover;
      }

      &-desc {
        padding: 0 0.8rem;
        overflow: hidden;
      }

      .recent-item-title {
        display: block;
        color: variables.$primary-color;
        @include mixins.fluid-text(1.2rem, 1.3rem);
        margin-bottom: 0.4rem;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .recent-item-artist {
        display: block;
        color: variables.$player-artist-text;
        font-size: variables.$small-text;
      }
    }
  }
}

// .filter-button:first-child {
//   display: none !important;
// }

@media (min-width: 60rem) {

  .main-section-filters {

    .recents-list {
      display: none;
    }

    .filter-button:first-child {
      display: flex !important;
      align-items: center;
    }

    .filter-buttons {
      margin-bottom: 0 !important;
      

      .filter-button.desktop {
        display: block;
        background-color: variables.$primary-color;
        color: #111111;
        font-weight: 700;
      }
    }

  }

}