@use "../abstracts/variables";

@mixin auto-grid($min-width, $gap: 2.4rem) {
    display: grid;
    gap: $gap;
    grid-template-columns: repeat(auto-fit, minmax($min-width, 1fr));
}

@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@mixin fluid-text($min-size, $max-size, $min-vw: 39rem, $max-vw: 120rem) {
    $slope: ($max-size - $min-size) / ($max-vw - $min-vw);
    $intersection: -1 * $min-vw * $slope + $min-size;
    font-size: clamp(
        #{$min-size},
        calc(#{$intersection} + #{$slope * 100}vw),
        #{$max-size}
    );
}


// <!-- This is my section, JULIE-->
@mixin fixed-layout ($bottom: 0, $left: 0, $right: 0) {
    position: fixed;
    bottom: $bottom;
    left: $left;
    right: $right;
    z-index: 1000;
}
@mixin player-text-style ($size: 1.4rem, $color, $weight: 400, $lh: 100%) {
        font-family: Satoshi;
        font-weight: $weight;
        font-size: $size;
        line-height: $lh;
        letter-spacing: 3%;
        color: $color;
}