$bg-color: #111111;
$primary-color: #E0E0E0;
$button-inactive:rgba(32, 32, 32, 0.5);
$player-color: #333842;
$player-artist-text: #898989;
$play-button: #1ED760;
$header-text:rgba(137, 137, 137, 1);
$bg-player: rgba(51, 56, 66, 1);
$player-text-linear: rgba(219, 219, 219, 1);


$h3-text: 2.0rem;
$sub-text: 1.4rem;
$small-text: 1.2rem;



